:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-size: 15px;
  padding: 4em;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding-bottom: 10em;
}

body:has(.menu-overlay.active) {
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 65px);
  gap: 2em;
}

/* FOR DEBUGGING LAYOUT */
/* .container > * {
  border: solid 1px black;
} */

@media (max-width: 1250px) {
  body {
    font-size: clamp(12px, 1vw, 14px);
  }
}

.nav {
  grid-column: span 3;
  grid-row: span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav {
  display: none;
}

.links-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3em;
}

.nav-link {
  color: var(--dark-grayish-blue);
  text-decoration: none;
  font-size: 1.1em;
}

.nav-link:hover {
  color: var(--soft-red);
}

.main-news {
  grid-column: span 2;
  grid-row: span 6;
  display: flex;
  flex-direction: column;
  gap: 1em 0.5em;
}

.img-container {
  grid-column: span 2;
  grid-row: span 1;
}

img {
  height: 100%;
  width: 100%;
  max-height: 250px;
}

.mobile-web3-image {
  display: none;
}

.main-news-info {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  height: 250px;
  gap: 1em;
  padding-top: 2rem;
}

.main-news-info>* {
  flex: 1
}

.main-news-title {
  font-size: 4em;
  line-height: 1;
  font-weight: 800;
  width: 50%;
}

.main-news-content {
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2.5em;
}

@media (max-width: 920px) {
  .main-news-title {
    display: inherit;
  }

  .main-news-content {
    justify-content: start;
    margin-top: 1rem;
  }
}

.main-news-content p {
  color: var(--dark-grayish-blue);
  font-size: 1.1em;
  line-height: 1.5;
  word-spacing: 2px;
}

.main-news-content button {
  text-transform: uppercase;
  color: var(--very-dark-blue);
  background-color: var(--soft-red);
  padding: 1em 1.8em;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  border: none;
  transition: 200ms ease;
  transition-property: background-color, color;
}

.main-news-content button:hover {
  background-color: var(--very-dark-blue);
  color: white;
}

.feed {
  grid-column: span 1;
  grid-row: span 6;
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: start;
  align-items: start;
  padding: 2em 1.5em;
  max-height: fit-content;
}

@media (max-width: 950px) {
  .feed {
    gap: 1em;
  }
}

.feed-title {
  color: var(--soft-orange);
  font-size: 3em;
  font-weight: 700;
}

.news {
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  cursor: pointer;
}

.news:hover .news-title {
  color: var(--soft-orange);
}

.news:nth-of-type(2) {
  border-top: solid 1px var(--dark-grayish-blue);
  border-bottom: solid 1px var(--dark-grayish-blue);
  padding-block: 2em;
}

.news-title {
  color: white;
  font-size: 1.5em;
}

.news-info {
  color: var(--grayish-blue);
  font-size: 1.1em;
}

.topic-wrapper {
  margin-top: 1em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  grid-column: span 3;
}

.popular-topic {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.popular-topic img {
  min-width: 7rem;
  width: 40%;
  height: 100%;
}

@media (max-width: 880px) {
  
  .container {
    grid-template-rows: repeat(10, 65px);
  }

  .topic-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    grid-row: span 6;
  }

  .popular-topic {
    max-height: 100px;
    width: 100%;
    justify-content: start;
    font-size: 1.3em;
  }

  .popular-topic img {
    height: 100%;
    max-height: 100px;
    width: 20%;
  }

  .popular-topic h3 {
    font-size: 1.4em;
  }
}

.topic-info {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.popular-topic:hover .topic-title {
  color: var(--soft-red);
}

.topic-number {
  font-size: 2em;
  color: var(--soft-red);
  font-weight: bold;
}

.topic-title {
  font-weight: 700;
}

.topic-brief {
  color: var(--dark-grayish-blue);
  word-spacing: .5px;
  line-height: 1.5;
}

/** CHANGING TO VERTICAL LAYOUT ON 880PX */

@media (max-width: 880px) {

  .container {
    display: flex;
    flex-direction: column;
  }

}

/** ADDING MENU AND CHANGING SCALE ON 640PX */

@media (max-width: 640px) {

  body {
    font-size: 11px;
  }

  @media (max-width: 500px) {
    body {
      font-size: 9px;
    }

    .container {
      max-width: 400px !important;
    }

    .main-news-info {
      gap: 1em;
      margin-block: .5em;
    }

    .main-news-info>* {
      flex: unset;
    }

    .main-news-content {
      gap: 2em !important;
    }
  }

  .container {
    max-width: calc(100% - 2rem);
    gap: 1em;
  }

  .nav:not(.mobile-nav) {
    display: none;
  }

  .mobile-nav {
    display: flex;
    margin-bottom: 1em;
  }

  .mobile-nav svg {
    transform: scale(.8);
    cursor: pointer;
  }

  .img-container img:not(.mobile-web3-image) {
    display: none;
  }

  .mobile-web3-image {
    display: unset;
    height: 100%;
    max-height: unset;
  }

  .main-news-info {
    flex-direction: column;
    padding-block: 1em;
    gap: .5em;
  }

  .main-news-content {
    gap: 1em;
  }

  .main-news-content p {
    font-size: 1.3em;
  }

  .main-news-title {
    width: 100%;
  }

}

/** MAKING THE MENU */

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: end;
  align-items: start;
  transform: translateX(200%);
  transition: transform 200ms ease-in-out, background-color 0ms;
}

.menu-overlay.active {
  transition: transform 200ms ease, background-color 200ms 200ms ease;
  background-color: #0000004d;
  transform: unset;
}

.menu {
  height: 100%;
  width: 70%;
  background-color: white;
}

.menu svg {
  cursor: pointer;
  position: absolute;
  top: 2em;
  right: 2em;
  transform: scale(0.9);
}

.menu-links-container {
  position: relative;
  top: 20%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2rem;
}

.menu-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
}